$color-main: #fff;
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.results__container {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    ul {
        background-color: #4d4699;
        padding: 50px 20px;
        margin-top: 50px;
        list-style: none;
        box-shadow: inset 1px 26px 74px -22px rgba(0,0,0,0.58);

        li {
            color: $color-main;
            font-family: $font-main;
            font-size: 20px;

        }

        li.efficiency {
            color: #ffe787;
            border-top: 1px solid #ffe787;
            font-size: 20px;
            font-family: $font-main;
            margin-top: 5px;
        }
    }
}