/* You can add global styles to this file, and also import other style files */
$color-main: #fff;
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
    margin: 0;
    padding: 0;
}

.button {
    padding: 6px 10px;
    margin: 10px 5px;
    font-size: 17px;
    border-radius: 5px;
    border: transparent;
    font-family: $font-main;
    background-color: lightgrey;

    &:hover {
        cursor: pointer;
        background-color: transparentize($color: #d0e9ef, $amount: 0.5);
        color: $color-main;
    }

    &:focus {
        color: $color-main;
        background-color: gray;
        outline: 0;
    }
}